<div class="container mt-5">
  <h2>Toys</h2>
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let toy of toys">
      <div class="card">
        <div class="image-container position-relative">
          <img [src]="toy.image" class="card-img-top" alt="{{ toy.name }}">
          <i class="bi" 
             [ngClass]="{'bi-heart-fill': isInWishlist(toy), 'bi-heart': !isInWishlist(toy), 'wishlist-icon': true}" 
             (click)="toggleWishlist(toy)"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ toy.name }}</h5>
          <p class="card-text">{{ toy.description }}</p>
          <p class="card-text">Price: {{ toy.price | currency }}</p>
          <p class="card-text">Rating: {{ toy.rating }}</p>
          <button class="btn btn-primary" (click)="viewDetails(toy)">view details</button>
        </div>
      </div>
    </div>
  </div>
</div>
